<body>
    <div class="formulario">
        <form action="../php/actions/fazLogin.php" method="post">


            <label for="cpfUsuarioLogin">Cpf:</label>
            <input type="text" name="cpfUsuarioLogin" id="cpfUsuarioLogin">

            <label for="senhaUsuario">Senha:</label>
            <input type="password" name="senhaUsuario" id="senhaUsuario">

            <button type="submit" id="btnCadastro">Login</button>
            <a href="../php/cadastro.php">Não possui uma conta? Clique aqui</a>

        </form>
    </div>
</body>